:root {
   --color-primary: hotpink;
   --color-text-over-primary: #212121;
   --color-background: #212121;
   --color-text: #ffffff;
   /**/
   --add-btn-size: 5.6em;
}

*{
   user-select: none;
}

html,body {
   padding: 0;
   margin: 0;
   overflow-x: hidden;
}

body {
   background-color: var(--color-background);
}

.banner{
   background-color: var(--color-primary);
   height: 1em;
   position: fixed;
   display: block;
   left:0;
   top:0;
   right:0;
}

.banner-dummy{
   margin-bottom: 3em;
}

.footer{
   background-color: var(--color-primary);
   height: 4em;
   position: fixed;
   display: block;
   left:0;
   bottom:0;
   right:0;
}

.footer-dummy{
   margin-top: 3em;
}

.f-field {
   border: 1px solid var(--color-primary);
   color:var(--color-text);
   padding:1em !important;
}

.f-button{
   background-color: var(--color-primary);
   color:var(--color-text-over-primary);
   font-weight: bold;
}

.f-switch,.f-button{
   text-align: center;
}

.f-date>span{
   font-size: 80%;
}

.footer-container{
   margin: 0 auto;
   margin-top: -3em;
   text-align: center;
}

.footer-btn {
   border-radius: 100%;
   background-color: var(--color-primary);
   display: inline-block;
   width: var(--add-btn-size);
   height: var(--add-btn-size);
   text-align: center;
   line-height: 4em;
   user-select: none;
   cursor: pointer;
   color:var(--color-text-over-primary);
   font-weight: bold;
   border: .8em solid #212121;
   margin-left: .7em;
   margin-right: .7em;
}

.footer-btn>span{
   font-size: 90%;
}