:root {
   --color-primary-dark: #303030;
   --color-primary: #414141;
   --color-accent: #b11f57;
   --color-text-over-primary: #efefef;
   --color-background: #212121;
   --color-text: #cecece;
   --color-footer-button-border:#212121;
   /**/
   --add-btn-size: 5.6em;
}

* {
   -webkit-user-select: none;
   user-select: none;
}

html,
body {
   padding: 0;
   margin: 0;
   overflow-x: hidden;
}

html {
   /* overflow: hidden !important; */
}

body {
   background-color: var(--color-background);
}

.banner {
   background-color: var(--color-primary-dark);
   height: 1em;
   position: fixed;
   display: block;
   left: 0;
   top: 0;
   right: 0;
}

.banner-dummy {
   margin-bottom: 3em;
}

.footer {
   background-color: var(--color-primary-dark);
   height: 4em;
   position: fixed;
   display: block;
   left: 0;
   bottom: 0;
   right: 0;
}

.footer-dummy {
   margin-top: 3em;
   height: 4em;
   display: block;
}

.f-field {
   border: 1px solid var(--color-background);
   background-color: var(--color-primary);
   color: var(--color-text);
   padding: 1.2em !important;
   position: relative;
}

.f-dec,
.f-inc,
.f-score {
   text-align: center;
}

.f-dec{
   background-color: var(--color-accent);
}

.f-inc{
   background-color: rgb(14, 102, 90);
}

.f-trans{
   direction: rtl;
   background-color: var(--color-accent);
   color: var(--color-text-over-primary);
   transition: all 1s;
   position: absolute;
   opacity: 0;
}

.f-trans.active{
   opacity: 1;
}

.footer-container {
   margin: 0 auto;
   margin-top: -3em;
   text-align: center;
}

.footer-btn {
   border-radius: 100%;
   background-color: var(--color-accent);
   display: inline-block;
   width: var(--add-btn-size);
   height: var(--add-btn-size);
   text-align: center;
   line-height: 4em;
   cursor: pointer;
   color: var(--color-text-over-primary);
   font-weight: bold;
   border: .8em solid var(--color-footer-button-border);
   margin-left: .7em;
   margin-right: .7em;
}

.footer-btn>div {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.footer-btn>div>img {
   margin: 0 auto;
   width: 70%;
   filter: invert(100%);
}